jest-reports
README.md
*.njk
*.script.js
coverage
.wrangler
*.yml
**/dist/**
.turbo/*
packages/applications-service-api/prisma/client/*
packages/back-office-subscribers/lib/prisma-client/*
packages/forms-web-app/src/public/stylesheets/main.css
e2e-tests/cypress/downloads/**
e2e-tests/cypress/screenshots/**
e2e-tests/cypress/videos/**
e2e-tests/cypress/cucumber-report/**
