trigger:
  branches:
    include:
      # trigger for merge queue branches
      - gh-readonly-queue/*

pr:
  branches:
    include:
      - '*'
  paths:
    exclude:
      - infrastructure

resources:
  repositories:
    - repository: templates
      type: github
      endpoint: Planning-Inspectorate
      name: Planning-Inspectorate/common-pipeline-templates
      ref: refs/tags/release/3.24.2

extends:
  template: stages/wrapper_ci.yml@templates
  parameters:
    gitFetchDepth: 0
    globalVariables:
      - template: azure-pipelines-variables.yml@self
    validationJobs:
      - name: Run Linting & Tests
        steps:
          - script: git fetch origin main:main
            displayName: Fetch main branch
          - task: Cache@2
            inputs:
              key: 'npm | "$(Agent.OS)" | package-lock.json'
              restoreKeys: |
                npm | "$(Agent.OS)" | package-lock.json
              path: $(npm_config_cache)
              displayName: Cache NPM
          - template: ../steps/node_script.yml
            parameters:
              nodeVersion: 20
              script: npm ci
              environmentVariables:
                npm_config_cache: $(npm_config_cache)
          - template: ../steps/node_script.yml
            parameters:
              nodeVersion: 20
              script: cd packages/applications-service-api && npx prisma generate
          - template: ../steps/node_script.yml
            parameters:
              nodeVersion: 20
              condition: ne(variables['Build.SourceBranchName'], 'main')
              script: npm run commitlint
          - template: ../steps/node_script.yml
            parameters:
              nodeVersion: 20
              condition: succeededOrFailed()
              script: npm run lint
          - template: ../steps/node_script.yml
            parameters:
              nodeVersion: 20
              condition: succeededOrFailed()
              script: npm run format-check
          - template: ../steps/node_script.yml
            parameters:
              nodeVersion: 20
              condition: succeededOrFailed()
              script: npm run test:cov
