parameters:
  - name: rollbackAPI
    displayName: Rollback the Applications API
    type: boolean
    default: false
  - name: rollbackWeb
    displayName: Rollback the Applications web app
    type: boolean
    default: false
  - name: region
    displayName: Region
    type: string
    values:
      - UK West
      - UK South
    default: UK West

pr: none
trigger: none

resources:
  repositories:
    - repository: templates
      type: github
      endpoint: Planning-Inspectorate
      name: Planning-Inspectorate/common-pipeline-templates
      ref: refs/tags/release/3.24.2
extends:
  template: stages/wrapper_cd.yml@templates
  parameters:
    variableGroupPrefix: 'cd'
    environments:
      - name: Dev
      - name: Test
        dependsOn:
          - Dev
      - name: Training
        dependsOn:
          - Test
      - name: Prod
        dependsOn:
          - Training
    globalVariables:
      - template: .azure/pipelines/azure-pipelines-variables.yml@self
    deploymentStages:
      - name: Rollback
        deploymentJobs:
          - name: Rollback API
            condition: ${{ eq(parameters.rollbackAPI, true) }}
            steps:
              - bash: |
                  if [[ $ENVIRONMENT == "training" ]]; then
                    echo "Name: api"
                    echo "##vso[task.setvariable variable=appName;]api"
                  else
                    echo "Name: applications-api"
                    echo "##vso[task.setvariable variable=appName;]applications-api"
                  fi
                displayName: Set app name
                env:
                  ENVIRONMENT: $(ENVIRONMENT)
              - template: ../steps/azure_web_app_slot_swap.yml
                parameters:
                  appName: pins-app-applications-service-$(appName)-$(ENVIRONMENT)-$(REGION_SHORT)-001
                  appResourceGroup: $(resourceGroup)
                  appStagingSlotName: staging
                  appTargetSlotName: production          -
          - name: Rollback Web App
            condition: ${{ eq(parameters.rollbackWeb, true) }}
            steps:
              - bash: |
                  if [[ $ENVIRONMENT == "training" ]]; then
                    echo "Name: wfe"
                    echo "##vso[task.setvariable variable=appName;]wfe"
                  else
                    echo "Name: applications-wfe"
                    echo "##vso[task.setvariable variable=appName;]applications-wfe"
                  fi
                displayName: Set app name
                env:
                  ENVIRONMENT: $(ENVIRONMENT)
              - template: ../steps/azure_web_app_slot_swap.yml
                parameters:
                  appName: pins-app-applications-service-$(appName)-$(ENVIRONMENT)-$(REGION_SHORT)-001
                  appResourceGroup: $(resourceGroup)
                  appStagingSlotName: staging
                  appTargetSlotName: production
