parameters:
  - name: buildAPI
    displayName: Build API
    type: boolean
    default: true
  - name: buildWeb
    displayName: Build Web
    type: boolean
    default: true
  - name: buildBackOfficeSubscribers
    type: boolean
    displayName: Build Back Office Subscriber Functions
    default: true

pr: none

trigger:
  branches:
    include:
      - main

resources:
  repositories:
    - repository: templates
      type: github
      endpoint: Planning-Inspectorate
      name: Planning-Inspectorate/common-pipeline-templates
      ref: refs/tags/release/3.24.2

extends:
  template: stages/wrapper_ci.yml@templates
  parameters:
    gitFetchDepth: 0
    globalVariables:
      - template: azure-pipelines-variables.yml@self
    validationJobs:
      - name: Run Linting & Tests
        steps:
          - script: git fetch origin main:main
            displayName: Fetch main branch
          - task: Cache@2
            inputs:
              key: 'npm | "$(Agent.OS)" | package-lock.json'
              restoreKeys: |
                npm | "$(Agent.OS)" | package-lock.json
              path: $(npm_config_cache)
            displayName: Cache NPM
          - template: ../steps/node_script.yml
            parameters:
              nodeVersion: 20
              script: npm ci
              environmentVariables:
                npm_config_cache: $(npm_config_cache)
          - template: ../steps/node_script.yml
            parameters:
              nodeVersion: 20
              script: cd packages/applications-service-api && npx prisma generate
          - template: ../steps/node_script.yml
            parameters:
              nodeVersion: 20
              condition: succeededOrFailed()
              script: npm run lint
          - template: ../steps/node_script.yml
            parameters:
              nodeVersion: 20
              condition: succeededOrFailed()
              script: npm run test:cov
          - template: ../steps/check_changed_files.yml
            parameters:
              pathFilters:
                - name: api
                  path: packages/applications-service-api
                - name: common
                  path: packages/common
                - name: web
                  path: packages/forms-web-app
                - name: back-office-subscribers
                  path: packages/back-office-subscribers
              stepName: check_files
      - name: Build API
        condition: >-
          and(
            succeeded(),
            or(
              and(
                eq(variables['Build.Reason'], 'Manual'),
                eq(${{ parameters.buildAPI }}, 'true')
              ),
              and(
                ne(variables['Build.Reason'], 'Manual'),
                or(
                  eq(variables['Build.SourceBranchName'], 'main'),
                  eq(dependencies.run_linting_and_tests.outputs['check_files.api'], 'true'),
                  eq(dependencies.run_linting_and_tests.outputs['check_files.common'], 'true')
                )
              )
            )
          )
        dependsOn:
          - Run Linting & Tests
        steps:
          - template: ../steps/azure_web_app_docker_build_push.yml@templates
            parameters:
              azurecrName: $(azurecrName)
              dockerfilePath: $(Build.SourcesDirectory)/packages/applications-service-api/Dockerfile
              repository: applications-service/applications-service-api
              buildArgs:
                - GIT_SHA=$(Build.SourceVersion)
      - name: Build Web
        condition: >-
          and(
            succeeded(),
            or(
              and(
                eq(variables['Build.Reason'], 'Manual'),
                eq(${{ parameters.buildWeb }}, 'true')
              ),
              and(
                ne(variables['Build.Reason'], 'Manual'),
                or(
                  eq(variables['Build.SourceBranchName'], 'main'),
                  eq(dependencies.run_linting_and_tests.outputs['check_files.common'], 'true'),
                  eq(dependencies.run_linting_and_tests.outputs['check_files.web'], 'true')
                )
              )
            )
          )
        dependsOn:
          - Run Linting & Tests
        steps:
          - template: ../steps/azure_web_app_docker_build_push.yml@templates
            parameters:
              azurecrName: $(azurecrName)
              dockerfilePath: $(Build.Repository.LocalPath)/packages/forms-web-app/Dockerfile
              repository: applications-service/forms-web-app
              buildArgs:
                - GIT_SHA=$(Build.SourceVersion)
      - name: Build Back Office Subscriber Functions
        condition: >-
          and(
            succeeded(),
            or(
              and(
                eq(variables['Build.Reason'], 'Manual'),
                eq(${{ parameters.buildBackOfficeSubscribers }}, 'true')
              ),
              and(
                ne(variables['Build.Reason'], 'Manual'),
                or(
                  eq(variables['Build.SourceBranchName'], 'main'),
                  eq(dependencies.run_linting_and_tests.outputs['check_files.back-office-subscribers'], 'true')
                )
              )
            )
          )
        dependsOn:
          - Run Linting & Tests
        steps:
          - task: Cache@2
            inputs:
              key: 'npm | "$(Agent.OS)" | package-lock.json'
              restoreKeys: |
                npm | "$(Agent.OS)" | package-lock.json
              paths: $(npm_config_cache)
            displayName: Cache NPM
          - template: ../steps/node_script.yml
            parameters:
              nodeVersion: 20
              script: npm ci --omit=dev --workspace=@pins/back-office-subscribers
              workingDirectory: $(Build.Repository.LocalPath)
              environmentVariables:
                npm_config_cache: $(npm_config_cache)
          - template: ../steps/node_script.yml
            parameters:
              nodeVersion: 20
              script: npm run db:generate
          - script: mv node_modules packages/back-office-subscribers/node_modules
            workingDirectory: $(Build.Repository.LocalPath)
            displayName: merge node_modules
          - task: ArchiveFiles@2
            displayName: Package files
            inputs:
              rootFolderOrFile: $(Build.Repository.LocalPath)/packages/back-office-subscribers
              includeRootFolder: false
              archiveFile: $(System.DefaultWorkingDirectory)/functions.zip
              verbose: true
          - publish: $(System.DefaultWorkingDirectory)/functions.zip
            artifact: back-office-subscribers
            displayName: Publish Functions Artifact
