parameters:
  - name: deployAPI
    displayName: Deploy API
    type: boolean
    default: true
  - name: deployWeb
    displayName: Deploy Web
    type: boolean
    default: true
  - name: deployBackOfficeSubscribers
    type: boolean
    displayName: Deploy Back Office Subscriber Functions
    default: true
  - name: runDbMigrations
    displayName: Run Database Migration
    type: boolean
    default: false
  - name: region
    displayName: Region
    type: string
    values:
      - UK West
      - UK South
    default: UK West

pr: none
trigger: none

resources:
  repositories:
    - repository: templates
      type: github
      endpoint: Planning-Inspectorate
      name: Planning-Inspectorate/common-pipeline-templates
      ref: refs/tags/release/3.24.2
  pipelines:
    - pipeline: build
      source: Applications Service Build
      trigger:
        branches:
          include:
            - main

extends:
  template: stages/wrapper_cd.yml@templates
  parameters:
    environments:
      - name: Dev
      - name: Test
        dependsOn:
          - Dev
      - name: Training
        dependsOn:
          - Test
      - name: Prod
        dependsOn:
          - Test
    automaticDeployments:
      environments:
        - name: Dev
        - name: Test
          dependsOn:
            - Dev
    deploymentStages:
      - name: Deploy Applications
        deploymentJobs:
          - name: Deploy API
            condition: eq(${{ parameters.deployAPI }}, 'true')
            steps:
              - checkout: self
              # app name is different in the training env (had to be shorter)
              - bash: |
                  if [[ $ENVIRONMENT == "training" ]]; then
                    echo "Name: api"
                    echo "##vso[task.setvariable variable=appName;]api"
                  else
                    echo "Name: applications-api"
                    echo "##vso[task.setvariable variable=appName;]applications-api"
                  fi
                displayName: Set app name
                env:
                  ENVIRONMENT: $(ENVIRONMENT)
              - template: ../steps/azure_web_app_deploy_slot.yml
                parameters:
                  appName: pins-app-applications-service-$(appName)-$(ENVIRONMENT)-$(REGION_SHORT)-001
                  appResourceGroup: $(resourceGroup)
                  azurecrName: $(azurecrName)
                  repository: applications-service/applications-service-api
                  slot: default
              - template: ../steps/azure_web_app_verify_git_hash.yml
                parameters:
                  appName: Application service API
                  appUrl: https://pins-app-applications-service-$(appName)-$(ENVIRONMENT)-$(REGION_SHORT)-001.azurewebsites.net/health
                  buildCommit: $(resources.pipeline.build.sourceCommit)
          - name: Deploy Web
            condition: eq(${{ parameters.deployWeb }}, 'true')
            steps:
              - checkout: self
              # app name is different in the training env (had to be shorter)
              - bash: |
                  if [[ $ENVIRONMENT == "training" ]]; then
                    echo "Name: wfe"
                    echo "##vso[task.setvariable variable=appName;]wfe"
                  else
                    echo "Name: applications-wfe"
                    echo "##vso[task.setvariable variable=appName;]applications-wfe"
                  fi
                displayName: Set app name
                env:
                  ENVIRONMENT: $(ENVIRONMENT)
              - template: ../steps/azure_web_app_deploy_slot.yml
                parameters:
                  appName: pins-app-applications-service-$(appName)-$(ENVIRONMENT)-$(REGION_SHORT)-001
                  appResourceGroup: $(resourceGroup)
                  azurecrName: $(azurecrName)
                  repository: applications-service/forms-web-app
                  slot: default
              - template: ../steps/azure_web_app_verify_git_hash.yml
                parameters:
                  appName: web
                  appUrl: $(WEB_URL)/health
                  buildCommit: $(resources.pipeline.build.sourceCommit)
                  appRegistrationClientId: $(appRegistrationClientId)
                  auth_enabled: "true"
                  env: $(ENVIRONMENT)
          - name: Deploy Back Office Subscriber Functions
            condition: eq(${{ parameters.deployBackOfficeSubscribers }}, 'true')
            steps:
              # app name is different in the training env (had to be shorter)
              - bash: |
                  if [[ $ENVIRONMENT == "training" ]]; then
                    echo "Name: bo-subs"
                    echo "##vso[task.setvariable variable=appName;]bo-subs"
                  else
                    echo "Name: bo-subscribers"
                    echo "##vso[task.setvariable variable=appName;]bo-subscribers"
                  fi
                displayName: Set app name
                env:
                  ENVIRONMENT: $(ENVIRONMENT)
              - download: build
                artifact: back-office-subscribers
                displayName: Download back-office-subscribers
              - template: ../steps/function_app_deploy.yml
                parameters:
                  appName: pins-func-applications-service-$(appName)-$(ENVIRONMENT)-$(REGION_SHORT)-001
                  resourceGroup: $(resourceGroup)
                  workingDirectory: $(Pipeline.Workspace)/build/back-office-subscribers
          - name: Run Database Migration
            condition: eq(${{ parameters.runDbMigrations }}, 'true')
            steps:
              - checkout: self
              - template: ../steps/azure_get_secrets.yml
                parameters:
                  secrets:
                    - name: applications-service-sql-server-connection-string
                      variable: DATABASE_URL
              - task: Cache@2
                inputs:
                  key: 'npm | "$(Agent.OS)" | package-lock.json'
                  restoreKeys: |
                    npm | "$(Agent.OS)" | package-lock.json
                  path: $(npm_config_cache)
                displayName: Cache npm
              - template: ../steps/node_script.yml@templates
                parameters:
                  nodeVersion: 22
                  script: npm ci --workspace=@pins/applications-service-api
                  workingDirectory: $(Build.Repository.LocalPath)
                  environmentVariables:
                    npm_config_cache: $(npm_config_cache)
              - template: ../steps/node_script.yml
                parameters:
                  nodeVersion: 20
                  environmentVariables:
                    DATABASE_URL: $(DATABASE_URL)
                  script: npm run db:migrate:deploy --workspace=@pins/applications-service-api
    region: ${{ parameters.Region }}
    globalVariables:
      - template: azure-pipelines-variables.yml@self
