.section-results {
	@extend .govuk-list, .govuk-\!-margin-0;

	&__result {
		@extend .govuk-\!-margin-0, .govuk-\!-padding-top-2, .govuk-\!-padding-bottom-5;

		border-top: 1px solid $govuk-border-colour;
	}

	&__result-link {
		@extend .govuk-link, .govuk-body-s;
	}

	&__result-copy {
		@extend .govuk-\!-margin-0;

		font-size: 14px;
		line-height: 1.5;
	}

	&__result-meta-data {
		@extend .govuk-grid-row, .govuk-\!-margin-top-2;
	}

	&__result-meta-data-item {
		@extend .govuk-grid-column-one-third;
	}

	&__result-item-two-thirds {
		@extend .govuk-grid-column-two-thirds;
	}

	&__result-item-one-third {
		@extend .govuk-grid-column-one-third;
	}

	&__result-meta-data-item-text {
		@extend .govuk-\!-margin-0, .text-secondary, .text-secondary--small;
	}
}
