.locale-selector {
	display: flex;
	align-items: center;
	padding: 15px 0;
	margin: 0;
	list-style: none;

	&__locale {
		display: flex;
		align-items: center;
	}
	&__separator {
		margin: 0 5px;
	}
}
