.govuk-details {
	&.pins-modded-summary-full-width {
		margin: 10px 0 10px 0;

		.govuk-details__summary {
			width: calc(100% - 25px); //account for default padding

			.summary-content {
				display: flex;
				justify-content: space-between;
			}
		}
	}
}
