.pins-header {
	padding-top: 20px;
	padding-bottom: 20px;
	color: govuk-colour('white');
	background-color: #074745;
	border-bottom: 10px solid #13a19b;

	&__container {
		display: flex;
		flex-wrap: wrap;
		border-bottom: 0;
		padding: 0;
	}

	.govuk-header__logotype {
		position: static;
		top: 0;
	}

	&__logo {
		display: block;
		width: auto;
		height: 80px;
		fill: currentColor;
	}

	.govuk-header__content {
		align-self: center;
	}

	.govuk-header__service-name {
		margin-bottom: 0;
	}
}
