.pins-header {
	padding-top: 15px;
	padding-bottom: 15px;
	color: govuk-colour('white');
	background-color: #074745;
	border-bottom: 10px solid #13a19b;

	&__container {
		border-bottom: 0;
		padding: 0;
	}

	.govuk-header__logotype {
		position: static;
		top: 0;
	}

	&__logo {
		display: block;
		width: auto;
		height: 60px;
		fill: currentColor;
	}

	.govuk-header__content {
		margin-top: 15px;
	}
	.govuk-header__service-name {
		margin-bottom: 0;
	}
}
