.pins-header {
	padding: govuk-spacing(3) 0;
	color: govuk-colour('white');
	background-color: #074745;
	border-bottom: 10px solid #13a19b;

	&__logo {
		display: block;
		width: auto;
		height: 60px;
		fill: currentColor;
	}

	&__title {
		@extend .govuk-body-l;

		display: block;
		margin: 0;
		@include govuk-responsive-margin(4, 'top');
		color: inherit;
	}
}
