.visible-on {
	&--tablet {
		display: block;

		@media screen and (min-width: map-get($govuk-breakpoints, 'tablet')) {
			display: none;
		}
	}

	&--desktop {
		display: none;

		@media screen and (min-width: map-get($govuk-breakpoints, 'tablet')) {
			display: block;
		}
	}

	&--js-enabled {
		display: none;

		.js-enabled & {
			display: block;
		}
	}
}
