.indicator-loading-spinner {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;

	&__container {
		width: 100%;
		max-width: 104px;
	}

	&__icon {
		position: relative;
		width: 100%;
		height: 0;
		padding-top: 100%;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 12px solid lighten(govuk-colour('turquoise'), 40%);
			border-top-color: govuk-colour('turquoise');
			border-radius: 50%;
			transform: translate3d(0, 0, 0);
			transform-origin: center;
			box-sizing: border-box;
			animation: indicator-loading-spinner-animation 2s linear infinite;
		}
	}
}

@keyframes indicator-loading-spinner-animation {
	0% {
		transform: translate3d(0, 0, 0) rotate(0deg);
	}
	100% {
		transform: translate3d(0, 0, 0) rotate(360deg);
	}
}
