.-link-focus {
	outline: 3px solid rgba(0, 0, 0, 0);
	color: #0b0c0c;
	background-color: #fd0;
	box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
	text-decoration: none;
}

.ui-checkbox-accordion {
	box-sizing: border-box;

	&__title {
		@extend .govuk-heading-m;

		display: block;
	}

	&__switch {
		@extend .govuk-link;
		@include govuk-responsive-margin(4, 'bottom');

		display: none;

		.js-enabled & {
			display: block;
		}
	}

	&__sections {
		@include govuk-responsive-margin(7, 'bottom');
	}

	&__section {
		@include govuk-responsive-padding(1, 'right');
		@include govuk-responsive-padding(1, 'left');

		display: block;

		@media (min-width: map-get($govuk-breakpoints, 'tablet')) {
			@include govuk-responsive-padding(3, 'right');
			@include govuk-responsive-padding(3, 'left');
		}

		&[open] {
			.ui-checkbox-accordion__section-switch-indicator {
				transform: rotate(180deg);
			}
		}
	}

	&__section-switch {
		display: block;
		font-size: 0;
		line-height: 1;
		white-space: nowrap;
		cursor: pointer;

		&:focus {
			.ui-checkbox-accordion__section-switch-title {
				@extend .-link-focus;
			}
		}

		&:focus-within {
			outline: none;
		}
	}

	&__section-switch-indicator,
	&__section-switch-title {
		display: inline-block;
		vertical-align: middle;
		margin: govuk-spacing(0);
	}

	&__section-switch-indicator {
		@include govuk-responsive-margin(2, 'right');
	}

	&__section-switch-title {
		@extend .govuk-body;

		color: $govuk-link-colour;
		white-space: normal;
	}

	&__section-state-text {
		&::before {
			content: 'show';

			[lang='cy'] & {
				content: 'ddangos';
			}

			[open] & {
				content: 'hide';

				[lang='cy'] & {
					content: 'guddio';
				}
			}
		}
	}

	&__checkboxes-section {
		.govuk-form-group {
			margin: govuk-spacing(0);
		}

		&--date {
			> .govuk-form-group {
				&:first-child {
					@include govuk-responsive-margin(3, 'top');
				}

				@include govuk-responsive-margin(6, 'top');
			}
		}
	}

	&__checkboxes-section-switch {
		@extend .govuk-link, .govuk-body-s, .govuk-\!-margin-0, .govuk-\!-margin-top-3;

		color: $govuk-link-colour;
	}

	&__section-break {
		@extend .govuk-\!-margin-0, .govuk-\!-margin-top-2, .govuk-\!-margin-bottom-2;

		border: 0;
		border-bottom: 1px solid $govuk-border-colour;
	}

	&__submit {
		margin: govuk-spacing(0);
	}

	&--modal-on-tablet {
		.js-enabled & {
			@media only screen and (max-width: calc(map-get($govuk-breakpoints, 'tablet') - 1px)) {
				display: none;
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: govuk-colour('white');
				z-index: 10;

				.ui-checkbox-accordion {
					&__outer-container {
						height: 100%;
						overflow: auto;
						-webkit-overflow-scrolling: touch;
					}

					&__inner-container {
						@include govuk-responsive-padding(6);
					}

					&__modal-header {
						display: flex;
					}

					&__title {
						display: none;
					}
				}
			}
		}
	}

	&__modal-header {
		@include govuk-responsive-padding(2, 'bottom');
		@include govuk-responsive-margin(2, 'bottom');

		display: none;
		border-bottom: 1px solid $govuk-border-colour;
	}

	&__modal-header-content-start {
		flex-grow: 1;
	}

	&__modal-title {
		@extend .govuk-heading-l;
		@include govuk-responsive-margin(2, 'bottom');
	}

	&__modal-subtitle {
		@extend .govuk-body-s;
	}

	&__modal-close-btn {
		@extend .govuk-link, .govuk-body-s;

		color: $govuk-link-colour;
	}
}
