.-state--focus {
  outline: 3px solid rgba(0,0,0,0);
  color: #0b0c0c;
  background-color: #fd0;
  box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
  text-decoration: none;
}

.ui-checkbox-accordion {
  &__section {
    @extend
      .govuk-\!-padding-right-3,
      .govuk-\!-padding-left-3;
  }

  &__title {
    @extend .govuk-heading-m;
  }

  &__switch {
    @extend
      .govuk-link,
      .govuk-\!-margin-bottom-4;
  }

  &__sections {
    @extend .govuk-\!-margin-bottom-7;
  }

  &__section-control {
    @extend .govuk-\!-display-block;

    font-size: 0;
    line-height: 1;
    cursor: pointer;

    &:active {
      .ui-checkbox-accordion__section-control-title {
        @extend .-state--focus;
      }
    }
  }

  &__section-control-indicator,
  &__section-control-title {
    @extend
      .govuk-\!-display-inline,
      .govuk-\!-margin-0;

    vertical-align: middle;
  }

  &__section-control-indicator {
    @extend .govuk-\!-margin-right-2;
  }

  &__section-control-title {
    @extend .govuk-body;

    color: $govuk-link-colour;
  }

  &__section-state-text {
    &::before {
      content: 'show';
    }
  }

  &__checkboxes-section {
    @extend .govuk-\!-display-none;

    .govuk-form-group {
      @extend .govuk-\!-margin-0;
    }
  }

  &__checkboxes-section-switch {
    @extend
      .govuk-link,
      .govuk-body-s,
      .govuk-\!-margin-0,
      .govuk-\!-margin-top-3;

    color: $govuk-link-colour;
  }

  &__section-break {
    @extend
      .govuk-\!-margin-0,
      .govuk-\!-margin-top-2,
      .govuk-\!-margin-bottom-2;

    border: 0;
    border-bottom: 1px solid $govuk-border-colour;
  }

  &__submit {
    @extend .govuk-\!-margin-0;
  }

  &__section-switch {
    @extend .govuk-visually-hidden;

    &:focus {
      & + .ui-checkbox-accordion__section-control {
        .ui-checkbox-accordion__section-control-title {
          @extend .-state--focus;
        }
      }
    }
    &:checked {
      & + .ui-checkbox-accordion__section-control {
        .ui-checkbox-accordion__section-control-indicator {
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg);
        }

        .ui-checkbox-accordion__section-state-text {
          &::before {
            content: 'hide';
          }
        }

        & + .ui-checkbox-accordion__checkboxes-section {
          @extend .govuk-\!-display-block;
        }
      }
    }
  }
}