.ui-side-search .ui-side-search-wrapper,
.ui-side-search .govuk-accordion__open-all {
  margin-bottom: 15px;
}

.ui-side-search .ui-side-search-wrapper {
  display: flex;
  width: 100%;
}

.ui-side-search .search-documents-input,
.ui-side-search .search-documents-submit {
  box-sizing: border-box;
}

.ui-side-search .pins-label-small {
  font-size: 16px;
  font-family: "GDS Transport", arial, sans-serif;
  display: block;
  margin-bottom: 3px;
}

.ui-side-search .search-documents-input {
  margin: 0;
  height: 30px;
  min-width: 0;
  border: 1px solid #0B0C0C;
  border-right: none;
}

.ui-side-search .search-documents-submit {
  flex-basis: auto;
  position: relative;
  overflow: hidden;
  text-indent: 200%;
  word-wrap: none;
  padding: 6px;
  height: 30px;
  width: 40px;
  border: none;
  margin: 0;
  cursor: pointer;
  background: url("../images/icon-search-2x.png") 9px 50% no-repeat #1D70B8;
  background-size: 80%;
}
