.ui-step-nav {
  margin-bottom: 30px;
}

.js-enabled .ui-step-nav.js-hidden {
  display: none;
}

.ui-step-nav__controls {
  padding: 3px 3px 0 0;
  text-align: right;
}

.ui-step-nav__button {
  color: #1d70b8;
  cursor: pointer;
  background: none;
  border: 0;
  margin: 0;
}

.ui-step-nav__button:focus {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #ffdd00;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  text-decoration: none;
}

.ui-step-nav__button::-moz-focus-inner {
  border: 0;
}

.ui-step-nav__button--title {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 19px;
  font-weight: bold;
  line-height: 1.4;
  display: inline-block;
  padding: 0;
  text-align: left;
  color: #0b0c0c;
}

@media (min-width: 40.0625em) {
  .ui-step-nav.ui-step-nav--large {
    margin-bottom: 60px;
  }
}

@media print {
  .ui-step-nav__button--title {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .ui-step-nav__button--title {
    font-size: 19px;
    line-height: 1.4;
  }
}

.ui-step-nav--large .ui-step-nav__button--title {
  font-size: 19px;
  font-weight: bold;
  line-height: 1.4;

  @media (min-width: 40.0625em) {
    font-size: 24px;
    line-height: 1.4;
  }
}

.ui-step-nav__button--controls {
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  text-decoration: underline;
  text-decoration-thickness: max(1px, .0625rem);
  text-underline-offset: 0.1em;
  position: relative;
  z-index: 1;
  padding: .5em 0;

  @media (min-width: 40.0625em) {
    font-size: 14px;
    line-height: 1;
  }
}

.ui-step-nav__button--controls:hover {
  text-decoration-thickness: max(3px, .1875rem, .12em);
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  text-decoration-skip: none;
}

.ui-step-nav__button--controls:focus {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #ffdd00;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  text-decoration: none;
}

.ui-step-nav--large .ui-step-nav__button--controls {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;

  @media (min-width: 40.0625em) {
    font-size: 16px;
    line-height: 1;
  }
}

.ui-step-nav__steps {
  padding: 0;
  margin: 0;
}

.ui-step-nav__step {
  position: relative;
  padding-left: 45px;
  list-style: none;
}

.ui-step-nav__step:after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 0;
  height: 100%;
  border-left: solid 2px #b1b4b6;
  background: #ffffff;
  left: 0;
  margin-left: 12px;
  top: 15px;
}

@media (min-width: 40.0625em) {
  .ui-step-nav--large .ui-step-nav__step {
    padding-left: 60px;
  }
  .ui-step-nav--large .ui-step-nav__step:after {
    left: 0;
    margin-left: 16px;
    border-width: 3px;
    top: 30px;
  }
}

.ui-step-nav__step:last-child:before {
  content: "";
  position: absolute;
  z-index: 6;
  bottom: 0;
  left: 0;
  margin-left: 6.5px;
  width: 13px;
  height: 0;
  border-bottom: solid 2px #b1b4b6;
}

.ui-step-nav__step:last-child:after {
  height: -webkit-calc(100% - 15px);
  height: calc(100% - 15px);
}

.ui-step-nav__step:last-child .ui-step-nav__help:after {
  height: 100%;
}

@media (min-width: 40.0625em) {
  .ui-step-nav--large .ui-step-nav__step:last-child:before {
    margin-left: 8.75px;
    width: 17.5px;
    border-width: 3px;
  }
  .ui-step-nav--large .ui-step-nav__step:last-child:after {
    height: calc(100% - 30px);
  }
}

.ui-step-nav__step--active:last-child:before,
.ui-step-nav__step--active .ui-step-nav__circle--number, .ui-step-nav__step--active:after,
.ui-step-nav__step--active .ui-step-nav__help:after {
  border-color: #0b0c0c;
}

.ui-step-nav__circle {
  box-sizing: border-box;
  position: absolute;
  z-index: 5;
  top: 15px;
  left: 0;
  width: 26px;
  height: 26px;
  color: #0b0c0c;
  background: #ffffff;
  border-radius: 100px;
  text-align: center;
}

@media (min-width: 40.0625em) {
  .ui-step-nav--large .ui-step-nav__circle {
    top: 30px;
    width: 35px;
    height: 35px;
  }
}

.ui-step-nav__circle--number {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: bold;
  line-height: 23px;
  border: solid 2px #b1b4b6;

  @media (min-width: 40.0625em) {
    font-size: 16px;
    line-height: 23px;
  }
}

.ui-step-nav--large .ui-step-nav__circle--number {
  font-size: 16px;
  font-weight: bold;
  line-height: 23px;

  @media (min-width: 40.0625em) {
    font-size: 19px;
    line-height: 30px;
  }
}

@media (min-width: 40.0625em) {
  .ui-step-nav--large .ui-step-nav__circle--number {
    font-size: 19px;
    line-height: 30px;
    border-width: 3px;
  }
}

.ui-step-nav__circle-inner {
  float: right;
  min-width: 100%;
}

.ui-step-nav__circle-background {
  text-shadow: 0 -0.1em 0 #ffffff, 0.1em 0 0 #ffffff, 0 0.1em 0 #ffffff, -0.1em 0 0 #ffffff;
}

.ui-step-nav__header {
  padding: 15px 0;
  border-top: solid 2px #b1b4b6;
}

.ui-step-nav--active .ui-step-nav__header {
  cursor: pointer;
}

.ui-step-nav__header .ui-step-nav__button:focus {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #ffdd00;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  text-decoration: none;
}

.ui-step-nav__header .ui-step-nav__button:focus .ui-step-nav__toggle-link {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #ffdd00;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  text-decoration: none;
}

.ui-step-nav__header:hover .ui-step-nav__button:not(:focus),
.ui-step-nav__header:hover .ui-step-nav__circle {
  color: #1d70b8;
}

.ui-step-nav__header:hover .ui-step-nav__toggle-link {
  text-decoration: underline;
  text-decoration-thickness: max(1px, .0625rem);
  text-underline-offset: 0.1em;
  text-decoration-thickness: max(3px, .1875rem, .12em);
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  text-decoration-skip: none;
}

.ui-step-nav__header:hover .ui-step-nav__toggle-link:hover {
  text-decoration-thickness: max(3px, .1875rem, .12em);
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  text-decoration-skip: none;
}

.ui-step-nav__header:hover .ui-step-nav__toggle-link:focus {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #ffdd00;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  text-decoration: none;
}

@media (min-width: 40.0625em) {
  .ui-step-nav--large .ui-step-nav__header {
    padding: 30px 0;
  }
}

.ui-step-nav__title {
  color: #0b0c0c;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 19px;
  font-weight: bold;
  line-height: 1.4;
  margin: 0;
}

.ui-step-nav__panel {
  color: #0b0c0c;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.3;

  @media (min-width: 40.0625em) {
    font-size: 16px;
    line-height: 1.3;
  }
}

.ui-step-nav--large .ui-step-nav__panel {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.3;

  @media (min-width: 40.0625em) {
    font-size: 19px;
    line-height: 1.3;
  }
}

.js-enabled .ui-step-nav__panel.js-hidden {
  display: none;
}

.ui-step-nav__list {
  padding: 0;
  padding-bottom: 10px;
  list-style: none;
}

@media (min-width: 40.0625em) {
  .ui-step-nav--large .ui-step-nav__list {
    padding-bottom: 20px;
  }
}

.ui-step-nav__list-item {
  margin-bottom: 10px;
}

.ui-step-nav__link {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: underline;
  text-decoration-thickness: max(1px, .0625rem);
  text-underline-offset: 0.1em;
}

.ui-step-nav__link:hover {
  text-decoration-thickness: max(3px, .1875rem, .12em);
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  text-decoration-skip: none;
}

.ui-step-nav__link:focus {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #ffdd00;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  text-decoration: none;
}

.ui-step-nav__link:visited {
  color: #4c2c92;
}

.ui-step-nav__link:hover {
  color: #003078;
}

.ui-step-nav__link:active {
  color: #0b0c0c;
}

.ui-step-nav__link:focus {
  color: #0b0c0c;
}

.ui-step-nav__list-item--active {
  position: relative;
}

.ui-step-nav__list-item--active:before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  z-index: 5;
  top: .6em;
  left: -45px;
  margin-top: -1px;
  margin-left: 13px;
  width: 13px;
  height: 2px;
  background: #0b0c0c;
}

@media (min-width: 40.0625em) {
  .ui-step-nav--large .ui-step-nav__list-item--active:before {
    left: -60px;
    margin-left: 17.5px;
    height: 3px;
  }
}

.ui-step-nav__list-item--active .ui-step-nav__link:link, .ui-step-nav__list-item--active .ui-step-nav__link:visited {
  color: #0b0c0c;
}

.ui-step-nav__list-item--active .ui-step-nav__link:hover {
  color: rgba(11, 12, 12, 0.99);
}

.ui-step-nav__list-item--active .ui-step-nav__link:active, .ui-step-nav__list-item--active .ui-step-nav__link:focus {
  color: #0b0c0c;
}
