.ui-tag-link {
	@extend .govuk-\!-display-inline-block, .govuk-\!-margin-0, .govuk-body-s;

	padding: 8px;
	color: govuk-colour('black');
	background-color: govuk-colour('light-grey');
	font-size: 0;
	white-space: nowrap;
	text-decoration: none;
	border: 1px solid govuk-colour('dark-grey');
	border-radius: govuk-spacing(1);

	&:hover {
		background-color: darken(govuk-colour('light-grey'), 5%);
	}

	&:focus,
	&:focus-visible {
		box-shadow: inset 0 0 0 2px;
		border: solid 1px govuk-colour('black');
		outline: 4px solid govuk-colour('yellow');
		outline-offset: 0;
	}

	&__close-icon {
		@extend .govuk-\!-display-inline-block;

		position: relative;
		width: 13px;
		vertical-align: middle;
		margin-right: 4px;

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			height: 2px;
			background-color: govuk-colour('black') !important;
		}

		&::before {
			transform: translate(-50%, -50%) rotate(-45deg);
		}

		&::after {
			transform: translate(-50%, -50%) rotate(45deg);
		}
	}

	&__text {
		@extend .govuk-body, .govuk-\!-font-size-16;

		line-height: 1 !important;
		vertical-align: middle;
	}
}
